body {
  margin: 0;
}

.header {
  padding: 5px;
}

.clusterSelect {
  width: 250px;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.controlPanel {
  flex-basis: 20%;
  overflow: auto;
}

.infoWindow {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
}

.infoWindowDelete {
  float: right;
}